.saved-news-header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.saved-news-header__content {
  padding-left: 40px;
  width: 1660px;
  box-sizing: border-box;
}

.saved-news-header__label {
  color: #1a1b2280;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.saved-news-header__title {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 30px;
  width: 336px;
}

.saved-news-header__caption {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.saved-news-header__keywords {
  font-weight: 700;
}

@media (max-width: 1856px) {
  .saved-news-header__content {
    max-width: 1315px;
  }
}
@media (max-width: 1439px) {
  .saved-news-header__content {
    max-width: 1000px;
  }
}
@media (max-width: 1025px) {
  .saved-news-header__content {
    max-width: 956px;
  }
}

@media (max-width: 735px) {
  .saved-news-header__title {
    width: 100%;
    padding-right: 10px;
    box-sizing: border-box;
  }

  .saved-news-header__caption {
    width: 100%;
    padding-right: 10px;
    box-sizing: border-box;
  }
}
