.main {
  padding: 80px 104px;
  background-color: aliceblue;
}

.main__heading {
  margin-bottom: 64px;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
}

.main__show-more-button {
  background-color: transparent;
  border: none;
  position: relative;
}

.main__show-more-button {
  all: unset;
  font-family: "Roboto Slab";
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 64px;
}

.main__show-more-button-text {
  align-self: center;
  font-family: "Roboto Slab", serif !important; /* Force Roboto Slab */
  position: absolute;
  /* top: 4px;
  right: 92px; */
}
