.main {
  padding: 80px 104px;
  background-color: aliceblue;
}

.main__heading {
  margin-bottom: 64px;
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 40px;
}

.main__show-more-button {
  background-color: transparent;
  border: none;
  position: relative;
}

.main__show-more-button-image {
  background-color: white;
  margin-top: 64px;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 288px;
  height: 64px;
  /* position: absolute;
  z-index: 10;
  right: -27px;
  top: -13px; */
}

.main__show-more-button-text {
  position: absolute;
  top: 0;
  right: 0;
}
