.about {
  display: flex;
  padding: 80px 104px;
}

.about__avatar {
  margin-right: 56px;
}

.about__title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
}
.about__description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

@media (max-width: 1025px) {
  .about {
    padding: 61px 40px;
  }

  .about__avatar {
    margin-right: 32px;
  }
  .about__title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
  }

  .about__description {
    line-height: 24px;
  }
}

@media (max-width: 685px) {
  .about {
    flex-direction: column;
    padding: 61px 40px;
    align-items: center;
  }

  .about__title {
    margin: 24px 0 16px 0;
  }

  .about__avatar {
    margin-right: 0;
  }
}
