.about {
  display: flex;
  padding: 80px 104px;
}

.about__avatar {
  margin-right: 56px;
}

.about__title {
  font-family: "Roboto Slab", serif;
  font-size: 40px;
}
.about__description {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.about__show-more-button {
  align-self: center;
  height: 64px;
  width: 288px;
  background-color: #f5f6f7;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-top: 20px;
  border-radius: 80px;
  border: none;
  position: relative;
}

@media (max-width: 1025px) {
  .about {
    padding: 61px 40px;
  }

  .about__avatar {
    margin-right: 32px;
  }
  .about__title {
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
  }

  .about__description {
    line-height: 24px;
  }
}

@media (max-width: 685px) {
  .about {
    flex-direction: column;
    padding: 61px 40px;
    align-items: center;
  }

  .about__title {
    margin: 24px 0 16px 0;
  }

  .about__avatar {
    margin-right: 0;
  }
}
