header h1 {
  font-weight: 400;
}

.header {
  font-family: "Roboto Slab";
  font-weight: 400;
  color: #fff;
  height: 576px;
}

.header__title {
  margin-top: 80px;
  margin-bottom: 32px;
  font-size: 64px;
  width: 608px;
}

.header__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__caption {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 88px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 1025px) {
  .header {
    height: 400px;
  }
  .header__title {
    margin-top: 38px;
    font-size: 36px;
    max-width: 385px;
    margin-bottom: 16px;
  }
  .header__caption {
    max-width: 452px;
    margin-bottom: 0;
  }

  .header__search-form {
    margin: 32px 0 32px 0;
    max-width: 452px;
  }

  @media (max-width: 735px) {
    .header__content {
      padding: 0 16px 0 19px;
      width: 100%;
      box-sizing: border-box;
      flex-wrap: wrap;
    }

    .header__title {
      width: 100%;
      margin-top: 30px;
      margin-bottom: 16px;
    }

    .header__caption {
      max-width: 100%;
      margin-bottom: 122px;
    }

    .header__search-form {
      width: 100%;
      margin: 0 0 32px 0;
    }

    .header {
      height: auto;
    }
  }
}
