.footer {
  display: flex;
  justify-content: space-between;
  padding: 24px 40px 18px;
  font-family: "Roboto", sans-serif;
}

.footer__copyright {
  color: #b6bcbf;
}
.footer__options {
  display: flex;
  align-items: center;
}

.footer__options-home {
  font-family: "Roboto", sans-serif;
}

.footer__options-home {
  margin-right: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.footer__options-TripleTen {
  margin-right: 40px;
  cursor: pointer;
}

.footer__options-github-icon {
  margin-right: 24px;
  cursor: pointer;
}

.footer__options-facebook-icon {
  cursor: pointer;
}
