.newsCard__container {
  background-color: #4682b4;
  height: 576px;
  width: 400px;
  border-radius: 25px;
  /* margin-top: 64px; */
  position: relative;
}

.newsCard__image-container {
  height: 292px;
}

.newsCard__image {
  height: 292px;
  width: max-content;
}

.newsCard__bookmark-container {
  position: relative;
  top: -280px;
  right: -347px;
}

.newsCard__bookmark_unmarked {
  position: relative;
  top: -289px;
  right: -316px;
}
