.newsCard__container {
  background-color: #fff;
  max-height: 576px;
  width: 400px;
  border-radius: 25px;
  position: relative;
  overflow: hidden;
}

.newsCard__image-container {
  height: 292px;
  width: 100%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  overflow: hidden;
}

.newsCard__image-container_saved-news {
  padding: 8px;
}

.newsCard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.newsCard__label {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 22px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 24px;
  max-width: 180px;
}

.newsCard__label_delete {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 22px;
  margin: 24px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  background-color: #fff;
  left: 101px;
  display: none;
  transition: opacity 0.3s ease;
}

.newsCard__label_delete_on-trash-hover {
  display: block;
  opacity: 1;
}

.newsCard__keyword_on-trash-hover {
  max-width: 50px;
}

.newsCard__trash-container {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 0 22px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 24px;
  cursor: pointer;
}

.newsCard__trash-icon:hover {
  content: url("../../assets/trash-hover.png");
}

.newsCard__bookmark-container {
  position: relative;
  top: -280px;
  right: -347px;
}

.newsCard__bookmark {
  position: relative;
  top: -289px;
  right: -316px;
  cursor: pointer;
}

.newsCard__bookmark_unmarked:hover {
  content: url("../../assets/bookmark-hover.png");
}

.newsCard__info {
  padding: 20px 24px 0 24px;
}

.newsCard__date {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: #b6bcbf;
  margin: 0 0 12px 0;
}

.newsCard__title {
  margin: 0 0 16px 0;
  font-family: "Roboto Slab";
  font-size: 26px;
  font-weight: 400;
  min-height: calc(1.2em * 1);
  max-height: calc(1.2em * 2);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.2;
  word-wrap: break-word;
}

.newsCard__details {
  height: 0;
}

.newsCard__description {
  font-family: "Roboto", sans-serif;
  margin: 0 0 18px 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.newsCard__footer {
  font-family: "Roboto Slab", serif;
  letter-spacing: 0.4px;
  color: #b6bcbf;
  margin: 0 0 24px 0;
}

@media (max-width: 1025px) {
  .newsCard__container {
    height: 420px;
    width: 224px;
    border-radius: 25px;
  }

  .newsCard__bookmark-container {
    top: -140px;
    right: -174px;
  }

  .newsCard__bookmark {
    top: -148px;
    right: -142px;
  }

  .newsCard__image-container {
    height: 150px;
  }
  .newsCard__info {
    padding: 16px;
  }

  .newsCard__title {
    font-size: 22px;
  }
}

@media (max-width: 735px) {
  .newsCard__container {
    height: 440px;
    width: 288px;
  }

  .newsCard__bookmark-container {
    top: -186px;
    right: -232px;
  }

  .newsCard__bookmark {
    top: -194px;
    right: -200px;
  }
  .newsCard__image-container {
    height: 196px;
  }
}
